extends layout

block content
	h1= title
	table(border="1",cellpadding="10")
		tr
			td.bold-text URL
			td #{urlData.URL}
		tr
			td.bold-text PropertyName
			td #{urlData.PropertyName}
		tr
			td.bold-text wptLocation
			td #{urlData.wptLocation}
		tr
			td.bold-text HomePageURL
			td #{urlData.HomePageURL}
		tr
			td.bold-text Global NA
			td #{urlData.IG_NA}
		tr
			td.bold-text Global Asia
			td #{urlData.IG_Asia}
		tr
			td.bold-text Global APAC
			td #{urlData.IG_APAC}
		tr
			td.bold-text Global Europe
			td #{urlData.IG_Europe}

	a(href="/wpturls/getUrls?PropertyName=#{urlData.PropertyName}") Go To URL List
		



