extends layout

block content
	h1 URLs List
	table(border="1",cellpadding="10")
		tr
			th URL
			th
			th
			th
		each url in urlsData
			tr
				td #{url.URL}
				td
					a(href="/wpturls/url/#{url.ID}/#{url.PropertyName}") Get Details
				td
					a(href="/wpturls/url/#{url.ID}/#{url.PropertyName}/edit") Edit Details
				td
					form(method="post", action="/wpturls/url/#{url.ID}/#{url.PropertyName}/delete")
						input(type="hidden", value="#{url.ID}", name="id")
						input(type="hidden", value="#{url.PropertyName}", name="PropertyName")
						input(type="hidden", name="_method", value="delete")
						button(type="submit") Delete
	<br>
	<br>
